asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-rest-swagger
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
pytz
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
simplejson
sqlparse
typing_extensions
uritemplate
urllib3
